@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p><a class="btn btn-primary" href="https://localhost:7266/Fruits">Voir la liste</a></p>
</div>
